<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Order Notification MicroService{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/dataTables.bootstrap4.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/adminlte.min.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/ionicons.min.css') }}">
    {% endblock %}
</head>
<body class="hold-transition layout-top-nav">
{% block body %}
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="{{ path('admin') }}" class="nav-link">{% trans %} Takeaway {% endtrans %}</a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>{% trans %}Notifications{% endtrans %}</h1>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{% trans %}Shows a log of the last 50 sent messages and at the top all messages that returned any other status then delivered in the last 24 hours.{% endtrans %}</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="notifications" class="table table-bordered table-hover">
                                    <thead>
                                    {% block notifications_table_headers %}
                                        <tr>
                                            <th>{% trans %}ID{% endtrans %}</th>
                                            <th>{% trans %}Status{% endtrans %}</th>
                                            <th>{% trans %}Sent At{% endtrans %}</th>
                                            <th>{% trans %}Source{% endtrans %}</th>
                                            <th>{% trans %}Destination{% endtrans %}</th>
                                            <th>{% trans %}Message{% endtrans %}</th>
                                            <th>{% trans %}External Service Status Code{% endtrans %}</th>
                                        </tr>
                                    {% endblock %}
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                    {{ block('notifications_table_headers') }}
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>{% trans %}Version{% endtrans %}</b> 1.0.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/js/adminlte.min.js') }}"></script>
    <script src="{{ asset('assets/js/demo.js') }}"></script>
    <script>
        $(function () {
            $('#notifications').DataTable({
                ajax: {
                    url: '{{ absolute_url(path('notifications_v1_transactions_sms_priority')) }}',
                    type: 'GET',
                    beforeSend: function (request) {
                        request.setRequestHeader('Accept-Version', 'v1');
                        request.setRequestHeader('Accept-Language', 'en');
                    },
                    dataSrc: 'data',
                    dataFilter: function (data) {
                        let json = $.parseJSON(data);
                        json.recordsTotal = json.total;
                        json.recordsFiltered = json.filtered;
                        json.data = json.collection;

                        return JSON.stringify(json);
                    }
                },
                columns: [
                    {name: 'id', data: 'sms.id', searchable: false, orderable: false},
                    {name: 'request', data: 'sms.status', searchable: false, orderable: false},
                    {name: 'created_at', data: 'created_at', searchable: false, orderable: false},
                    {name: 'from', data: 'sms.from', searchable: false, orderable: false},
                    {name: 'destination', data: 'sms.destination', searchable: false, orderable: false},
                    {name: 'message', data: 'sms.message', searchable: false, orderable: false},
                    {name: 'status', data: 'status', searchable: true, orderable: true},
                ],
                processing: true,
                serverSide: true,
                paging: true,
                lengthChange: true,
                searching: true,
                ordering: false,
                info: true,
                autoWidth: false,
                pageLength: 50,
            });
        });
    </script>
{% endblock %}
</body>
</html>
